html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*///////////////////////////////////////////////////////*/
/*common*/
/*/////////////////////////////////////////////////////////*/
html{
	background-color: #fafafa;
	font-family: 'PT Sans', sans-serif;
	font-size: 13px;
}

section,
header{
	/*max-width: 1130px;*/
	padding: 0 2%;
	margin: 0 auto;
}

a,
img{
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

a:hover{
	color: #f04747;
}


/*head*/


.head{
	font-size: 13px;
	padding-top: 23px;
}

.head__cont{
	position: relative;
	margin-bottom: 20px;
}

.info_top{
	position: absolute;
	right: 0;
	bottom: 12px;
	text-align: right;
}

.info_top__links{
	padding: 21px 0;
}

.info_top__links a{
	padding-left: 10px;
}

.basket{
	position: absolute;
	left: 50%;
	bottom: 12px;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

.tels_top__number{
	font-weight: bold;
	letter-spacing: 0.4px;
}

.logo{
	display: inline-block;
}

.navigation__item{
	display: inline-block;
}

.navigation__list{
	text-align: justify;
    text-align-last: justify;
}

.basket:before{
	content: '';
	position: absolute;
	width: 16px;
	height: 13px;
	left: -20px;
	top: 0;
	background-image: url(../images/cart.gif);
}

/*///////////*/
/*burger*/

.head__mob{
	display: none;
	position: relative;
}

.burgerbutton {
    position: absolute;
    right: 5%;
	margin: 0 auto;
    top: 50%;
	transform: translateY(-50%);
    width: 30px;
    height: 26px;
    cursor: pointer;
}
.burgerbutton span {
    width: 100%;
    transition: .5s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
    height: 4px;
    position: absolute;
    background-color: #fff;
    right: 0;
    left: 0;
    margin: 0 auto;
    transform: rotate(0);
}
.burgerbutton span:nth-child(1) {
    top: 0;
}
.burgerbutton span:nth-child(2) {
    top: 44%;
}
.burgerbutton span:nth-child(3) {
    bottom: 0;
}
.open .burgerbutton span:nth-child(1) {
    top: 11px;
    transform: rotate(-45deg);
}
.open .burgerbutton span:nth-child(2) {
    width: 0%;
}
.open .burgerbutton span:nth-child(3) {
    bottom: 11px;
    transform: rotate(45deg);
}
        



/*section*/

.products{
	overflow: hidden;
	padding-top: 34px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: space-around;
}

.category__name{
	font-weight: normal;
	font-size: 36px;
	color: #000;
}

.category__number{
	font-style: italic;
    font-size: 14px;
    margin-left: 10px;
}

.products__item{
	/*float: left;*/
	/*width: 20%;*/
	width: 200px;
	/*min-width: 200px;*/
	/*min-width: 224px;*/
	/*padding: 10px;*/
	box-sizing: border-box;
	min-height: 310px;
	/*margin-right: 30px;*/
	border-right: 1px dashed #c8c8c8;
}

.prod__img{
	/*max-width: 200px;*/
	width: 100%;
	height: auto;
	border-radius: 15px;
}

.prod{
	position: relative;
}

.prod__img_link{
	display: block;
}

.prod__name,
.prod__price{
	display: block;
	text-align: center;
	padding: 10px;
	line-height: 20px;
}

.prod__price{
	position: absolute;
	left: 50%;
	bottom: 0;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

.examples__cap{
	clear: both;
}

/*/////////*/
/*main page only*/
/*////////*/

.main_page__products{
	margin-top: 50px;
}

.list_of_cats__item{
	display: block;
	width: 33%;
	float: left;
	text-align: center;
	padding: 20px 0;
}

.list_of_cats__item .cat_link{
	color: #000;
	font-size: 20px;
	text-decoration: underline;
    padding-right: 2px;
}

.list_of_cats__item .cat_link:hover{
	color: #f04747;
    text-decoration: underline;
}

.about__head{
	position: relative;
	text-align: center;
	color: #878787;
	font-size: 20px;
    font-style: italic;
    margin-bottom: 50px;
}

.main_page__more{
	overflow: hidden;
	padding-top: 50px;
}

.about_us__info{
	margin-left: 50%;
	width: 50%;
	line-height: 1.3;
}

.link_to_communicate{
	display: inline-block;
}

.about_us__cap{
	font-size: 36px;
}

.about__head:before,
.about__head:after{
	content: '';
	position: absolute;
	width: 45%;
	height: 1px;
	bottom: 40%;
	background-color: #c5c4c4;
	/*z-index: -1;*/
}

.about__head:before{
	left: 0;
}

.about__head:after{
	right: 0;
}

.list_of_cats{
	overflow: hidden;
	padding-bottom: 50px;
}

.about_us__cap{
	padding-bottom: 40px;
}
.about_us__info p{
	padding: 0 0 10px;
}

.about_us{
	padding-bottom: 80px;
}

.similiar_prods{
	clear: both;
	overflow: hidden;
	text-align: center;
}

.similiar_prods__title{
	font-size: 48px;
    font-weight: bold;
    padding-bottom: 68px;
    text-align: left;
    padding-top: 30px;
}

.similiar_prods__number{
	font-size: 18px;
	color: #0e468b;
	font-style: italic;
}

.similiar_prods span{
	line-height: 18px;
}

.sim__prod{
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 20px;
}

.similiar_prods li{
	float: left;
	width: 20%;
}

.owled li,
.owl-carousel .owl-item img{
	width: auto;
}

.owl-carousel{
	display: block;
}

.sim__prod img{
	max-height: 216px;
	display: block;
	margin: 0 auto;
	padding-bottom: 20px;
}

.sim__price{
	display: block;
	color: #000;
	padding-bottom: 10px;
}

.sim__desc{
	display: block;
	min-height: 80px;
}

.sim__add_to_basket{
	padding: 10px 20px;
	border: solid 1px #eb661b;
	border-radius: 4px;
	display: inline-block;
	color: #000;
}


/*footer*/

footer ul{
	list-style-type: none;
}

footer{
	background-color: #323232;
	overflow: hidden;
	/*position: fixed;*/
	bottom: 0;
	/*z-index: -1;*/
	width: 100%;
}

body{
	background-color: #fafafa;
}

.footer{
	width: 100%;
	/*max-width: 1130px;*/
	padding: 0 2%;
	margin: 0 auto;
	color: #fff;
	box-sizing: border-box;
	overflow: hidden;
	margin-top: -100px;
	padding-bottom: 50px;
	/*-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: all .4s linear .1s;
	-o-transition: all .4s linear .1s;
	transition: all .6s linear .1s;
	opacity: 0;
	scroll-behavior: smooth;*/
}

.footer.no_trs{
	margin-top: 0;
	padding-bottom: 0;
	opacity: 1 !important;
}

footer.fixed{
	position: fixed;
}

.footer__links{
	text-align: center;
	padding: 40px 0;
}

.footer__links li{
	display: inline-block;
	padding: 0 6px;
}

.footer a{
	color: #fff;
}

.footer__center{
	text-align: center;
	padding-bottom: 40px;
	border-bottom: solid white 2px;
	margin-bottom: 40px;
}

.footer__right{
	float: right;
}

.footer__left{
	float: left;
	padding-bottom: 66px;
}

.fixed .footer__left{
	padding-bottom: 40px;
}

.footer__center p:first-child{
	padding-bottom: 16px;
}














/*//////////////////////////////*/
/*basket*/
/*///////////////////////////*/
.basket_page{
	overflow: hidden;
}
.basket_page__head{
	width: 60%;
	border-bottom: 2px #808080 solid;
	color: #808080;
	overflow: hidden;
	/*float: left;*/
}
.bascket__table{
	width: 60%;
}
.basket_page__head>*{
	/*float: left;*/
	/*text-align: center;*/
}
.bascket__table{
	float: left;
	/*border: 2px #808080 solid;*/
}
.basket_page__head td{
	border-bottom: 2px #808080 solid;
	padding: 20px 0;
}
.basket_page__img{
	width: 15%;
	padding: 10px 0;
}
.basket_page__img img{
	max-width: 80%;
	max-width: 80px;
	/*margin-left: 10%;*/
}
/*.basket_page__product{
	width: 31%;
	padding: 16px 0;
}*/
/*.basket_page__head .basket_page__product{
	padding: 40px 0;
}*/
.bascket__table td{
	vertical-align: middle;
}
.basket_page__price,
.basket_page__number,
.basket_page__full_price{
	/*width: 14%;*/
	/*line-height: 50px;*/
	/*padding: 40px 0;*/
}
/*.basket_page__symbol{
	width: 4%;
	padding: 40px 0;
}*/
.basket_page__item_remove{
	/*width: 4%;
	margin-top: 40px;*/
	display: none;
	position: relative;
	width: 26px;
	height: 26px;
}
.bascket__table td:last-child{
	min-width: 40px;
}
.basket_page__item_remove:after,
.basket_page__item_remove:before{
	width: 80%;
	height: 2px;
	position: absolute;
	content: '';
	top: 50%;
	left: 10%;
	background-color: red;
}
.basket_page__item_remove:after{
	-webkit-transform: translateY(-50%) rotateZ(45deg);
	-ms-transform: translateY(-50%) rotateZ(45deg);
	-o-transform: translateY(-50%) rotateZ(45deg);
	transform: translateY(-50%) rotateZ(45deg);
}
.basket_page__item_remove:before{
	-webkit-transform: translateY(-50%) rotateZ(-45deg);
	-ms-transform: translateY(-50%) rotateZ(-45deg);
	-o-transform: translateY(-50%) rotateZ(-45deg);
	transform: translateY(-50%) rotateZ(-45deg);
}
.basket_page__item:hover .basket_page__item_remove{
	display: inline-block;
}
.bascket__table td{
	min-width: 20px;
	padding-left: 5px;
	max-width: 220px;
}
.basket_page__desc{
	padding: 20px 0;
	margin-top: 10px;
	width: 40%;
	float: left;
	border-bottom: 2px #808080 solid;
	line-height: 16px;
}
.basket_page__prod_wr{
	width: 60%;
	float: left;
	overflow: hidden;
}
.basket_page__prod_wr p,
.basket_page__product{
	/*float: left;*/
	/*text-align: center;*/
}
.basket_page__product p{
	float: none;
	color: #808080;
	padding-top: 8px;
}
.basket_page__item{
	padding: 10px 0;
	overflow: hidden;
}
.basket_page__item:hover{
	background-color: #fdfbc7;
}
.basket_page__product a{
	/*padding-bottom: 10px;*/
	display: inline-block;
}
.basket_page__product{
	line-height: 16px;
}
/*//////*/
.basket_page__form{
	width: 40%;
	/*height: 400px;*/
	/*background-color: yellow;*/
	float: left;
	margin-bottom: 200px;
}
.basket_page__form .basket_page__desc{
	display: none;
	width: 100%;
	border-bottom: none;
	text-align: center;
}
/*///////////////////*/
/*form*/
.form__item{
	width: 90%;
	margin-left: 5%;
	padding-bottom: 10px;
}
.form__type-person input{
	opacity: 0;
	position: absolute;
}
.form__item>*{
	width: 100%;
	box-sizing: border-box;
	min-height: 30px;
	border: 1px #808080 solid;
	font-size: 13px;
    padding-left: 2%;
}
.form__item.submit{
	width: 50%;
	margin-left: 25%;
}
.checkout{
	background-color: #808080;
	border: none;
	color: #fff;
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
}
.form_for_order{
	border-left: 2px #808080 solid;
	border-bottom: 2px #808080 solid;
	border-right: 2px #808080 solid;
}
label.required{
	width: 45%;
	display: inline-block;
	text-align: center;
	padding: 20px 0;
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 2px #808080 solid;
	box-sizing: border-box;
}
label.required:hover{
	background-color: #fdfbc7;
}
label.type-person-left{
	margin-left: 5%;
	/*background-color: #fdfbc7;*/
	border-right: none;
}


/*/////////////////////////////*/
/*common page*/

.page__products_wr__head{
	font-size: 36px;
	padding-top: 50px;
}

/*additional nav*/
.additional_nav li{
	border-bottom: 1px dashed #0e468b;
	display: inline-block;
	cursor: pointer;
	margin-left: 1%;
	color: #0e468b;
	margin-top: 10px;
}
.additional_nav li:first-child{
	margin-left: 0;
}
/*.additional_nav{
	padding-top: 20px;
}*/
sub{
	vertical-align: sub;
    font-size: smaller;
}

/*///////////payment//////////*/
.payment,
.delievery_page,
.contacts_page{
	font-size: 14px;
}
.payment h1,
.delievery_page h1,
.contacts_page h1{
	font-size: 26px;
	padding: 40px 0 10px;
}
.payment__ways p,
.delievery_page p{
	line-height: 18px;
}
.payment__ways p:first-child{
	font-size: 18px;
	padding-bottom: 5px;
	padding-top: 20px;
}
.payment__warning{
	padding: 50px 0 80px;
	font-size: 14px;
	line-height: 18px;
}

/*//////////////////*/
/*delievery*/
.delievery_page p{
	padding: 10px 0;
}
.delievery_page{
	padding-bottom: 20px;
}
.delievery_page .title{
	font-size: 18px;
	padding: 10px 0;
}
.delievery_page strong{
	font-weight: bold;
	padding: 10px 0;
	display: block;
}
/*/////contacts//////*/
.contacts_page{
	overflow: hidden;
}
.maps__cont h4{
	font-size: 18px;
	padding: 10px 0;
}
.maps__cont{
	padding-bottom: 100px;
	/*float: left;*/
	width: 45%;
	padding-top: 40px;
}
.maps__text{
	min-height: 200px;
}
.map{
	max-width: 450px;
	height: 400px;
}
.maps{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom: 50px;
}
.contacts_page p{
	line-height: 24px;
}
.contacts_page__tels{
	padding: 10px 0 20px;
}
.contacts_page__bold{
	font-weight: bold;
}
/*///////*/
/*prod*/
/*/////*/
.product_page{
	overflow: hidden;
	padding: 50px 2% 96px;
}
.product_page__img{
	width: 40%;
	float: left;
}
.big_img_wr{
	max-width: 500px;
	margin: 0 auto;
}
.small_img_wr{
	padding: 20px 0;
	overflow: hidden;
	text-align: center;
}
.small_img_wr li{
	/*float: left;*/
	display: inline-block;
	margin-right: 1%;
	cursor: pointer;
}
.small_img_wr li img{
	/*width: 100%;*/
	max-width: 50px;
    max-height: 50px;
}
.product_page h1{
	font-size: 24px;
	padding: 10px 0 20px;
}
.big_img_wr img{
    width: 70%;
    margin-left: 15%;
    padding-bottom: 40px;
    display: none;
    cursor: pointer;
}
.big_img_wr img.active{
	display: block;
}

.product_page__desc h1{
	font-size: 48px;
	line-height: 64px;
	font-weight: bold;
}

.product_page__desc{
	float: left;
	margin-left: 5%;
}

.product_page__mob_header{
	display: none;
	padding-bottom: 50px;
}

.ultraviolet{
	border-bottom: 1px dashed #0e468b;
}

.avail_chars{
	margin-top: 36px;
	margin-bottom: 42px;
}

/*.avail_chars tr,
.add_chars tr{
	line-height: 16px;
}*/
table{
	border-collapse: unset;
	border-spacing: 0 10px;
}

.char__params{
	display: inline-block;
}



.char__param{
	color: #231F20;
	display: block;
	width: 80%;
	padding: 2px 0;
    border-left: 1px solid #B8B8B8;
    border-left: 1px solid rgba(0, 0, 0, 0.28);
    border-right: 1px solid #B8B8B8;
    border-right: 1px solid rgba(0, 0, 0, 0.28);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-background-clip: padding-box;
    background: url(../images/button.jpg) repeat-x;
}

.char__param:hover{
	background: url(../images/button.jpg) repeat-x left 100%;
	color: #231F20;
}

.char__name,
.add_char__name{
	max-width: 200px;
	display: inline-block;
	padding-right: 40px;
	line-height: 18px;
}

.add_char__value{
	max-width: 300px;
	vertical-align: top;
}

.char__params li{
	display: inline-block;
	min-width: 40px;
	text-align: center;
	padding: 5px;
}

.head a:hover{
	text-decoration: underline;
}

.price_big{
	font-size: 48px;
	line-height: 48px;
	display: block;
	padding-bottom: 32px;
}

.add_to_basket{
	color: #ffffff;
	padding: 22px 34px;
	background-color: #ff6a16;
	border-radius: 10px;
	display: inline-block;
	margin-bottom: 56px;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.add_to_basket:hover{
	color: #ffffff;
	opacity: .9;
}

.prod_lane{
	height: 310px;
	width: 1px;
	/*background-color: red;*/
	border-right: 1px dashed #c8c8c8;;
}

.add_chars h6{
	font-weight: bold;
	padding-bottom: 20px;
    font-size: 24px;
}

.add_chars{
	padding-bottom: 52px;
	line-height: 18px;
}

.avail_chars .add_chars{
	padding-bottom: 0;
}

.add_char__name{
	display: inline-block;
	min-width: 200px;
	line-height: 18px;
}

.product_page__about{
	width: 100%;
	padding-top: 40px;
	padding-bottom: 50px;
	border-top: solid 1px #c5c4c4;
	border-bottom: solid 1px #c5c4c4;
	float: left;
}

.about__desc,
.about__video{
	float: right;
	width: 50%;
}

.about__desc ul{
	list-style: disc inside;
}

.about__desc li{
	list-style-position: outside;
    margin-left: 37px;
    padding-left: 0;
    line-height: 24px;
}

.about__desc-title,
.examples__cap{
	font-size: 38px;
	font-weight: bold;
	padding: 40px 0;
}

.examples__cap{
	padding: 30px 0;
}

.about__desc .desc_wr:first-child h2{
	padding-top: 0;
}


.overflow_violet{
	overflow-x: hidden;
}
.about__video{
	height: 332px;
	padding-left: 5%;
    box-sizing: border-box;
}

.dark{
	position: absolute;
	display: none;
	width: 100%;
	max-width: 100%;
	/*height: 100%;*/
	/*background-color: #040406;*/
	top: 0;
	padding: 0;
	/*bottom: 0;*/
	margin-bottom: 0 !important;
}

.dark-on{
	display: block;
	-webkit-animation: black_in_black 1s ease;
	-o-animation: black_in_black 1s ease;
	animation: black_in_black 1s ease;
	background-color: #040406;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	z-index: 2;
}

.dark-on .head, 
.dark__video{
	-webkit-animation: black_opacity 2s ease;
    -o-animation: black_opacity 2s ease;
    animation: black_opacity 2s ease;
}

@keyframes black_in_black{
	0%{
		background-color: rgba(255,255,255,0);
	}
	100%{
		background-color: #040406;
	}
}

.dark-off{
	display: block;
	-webkit-animation: fadeOut 1s ease;
	-o-animation: fadeOut 1s ease;
	animation: fadeOut 1s ease;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	opacity: 0;
}

@keyframes fadeOut{
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
		display: none;
	}
}

.dark__content{
	color: #ffffff;
	margin-left: 5%;
	float: left;
	width: 44%;
	-webkit-animation: black_opacity 2s ease;
    -o-animation: black_opacity 2s ease;
    animation: black_opacity 2s ease;
}

.dark__desc{
	font-size: 14px;
	line-height: 30px;
	padding-bottom: 200px;
}

.dark__img{
	width: 40%;
    float: left;
    -webkit-animation: black_opacity 2s ease;
    -o-animation: black_opacity 2s ease;
    animation: black_opacity 2s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

@keyframes black_opacity{
	0%{
		opacity: 0;
	}
	50%{
		opacity: 0;
	}
}

.dark__img img{
	width: 100%;
	height: auto;
}

.dark__title{
	font-size: 48px;
	line-height: 54px;
	font-weight: bold;
	padding-bottom: 86px;
	padding-top: 80px;
}

.dark__video{
	height: 300px;
	padding-bottom: 50px;
}

.dark_off{
	position: absolute;
	width: 50px;
	height: 50px;
	top: 80px;
	right: 80px;
}

.dark__cross{
	position: absolute;
	width: 100%;
	height: 4px;
	top: 50%;
	left: 0;
	background-color: #fff;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

.dark__cross_1{
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.dark__cross_2{
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.dark_off:hover .dark__cross_1{
	-webkit-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}

.dark_off:hover .dark__cross_2{
	-webkit-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
}

/*///filters///*/
.filters{
    background-color: white;
    margin-top: 34px;
    margin-left: 30px;
    min-width: 201px;
    height: 100%;
    display: none;
}
.filters > form{
    border-bottom: solid 1px #eaeaea;
    width: 84%;
    margin: 0 auto;
    padding-bottom: 20px;
    height: auto;
}
.basket_page__number input{
	/*margin-top: -3px;*/
}
.products li{
	margin-bottom: 40px;
}
.filters > form:last-child{
    border-bottom: none;
}
.filters form h3{
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 0 2px;
    letter-spacing: 1.5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
}
.filters input{
    opacity: 0;
}
.filters input,.filters label{
    cursor:pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.filters input[type="checkbox"]+span::before {
    content: "";
    display: inline-block;
    opacity: 1;
    height: 14px;
    width: 14px;
    margin: 4px -10px 0 0px;
    background-color: #eaeaea;
    border-radius: 3px;
    float: left;
}
.filters input[type="checkbox"]:checked+span::before {
    background-color: #eb661b;
}
.filters_color span.before{
    height: 14px;
    width: 14px;
    margin: 4px -10px 0 -4px;
    background-color: #eaeaea;
    border-radius: 3px;
    float: left;
}
.filters .checkbox.untouch,
.filters .checkbox.untouch-always{
    color: #9e9e9e;
    pointer-events: none;
}
.b-cat-items{
    position: relative;
}
.menu_hider{
    position: absolute;
    width: 20px;
    height: 17px;
    background-repeat: no-repeat;
    background-image: url('/img/filter_icon.png');
    top: -30px;
    right: 0.8%;
}
.no_filters .menu_hider{
    right: 1px;
}
.layout.no_filters .main{
    width: 100%;
}
.layout.no_filters .filters{
    display: none;
}
div.main {
    width: 80%;
    float: left;
    min-height: 600px;
}
/* .b-cat-items li.non_displayed{
display: none;
}*/
.tab-filter.untouch,
.tab-filter.untouch-always{
    color: #9e9e9e;
    pointer-events: none;
}
.tab-filter.untouch span,
.tab-filter.untouch-always span{
    border-bottom: 1px dashed #9e9e9e;
}
.tab-filter span{
    position:relative;
}
.tab-filter input{
    display:none;
}
.tab-filter input[type="checkbox"]:checked+span::before {
    content: " ";
    position: absolute;
    height: 100%;
    top: 0;
    left: -7px;
    width: 100%;
    background: url(/bundles/main/img/button.jpg) left 100%;
    text-align: center;
    padding: 1px 5px 1px 6px;
    z-index: -1;
    border: 1px solid #B8B8B8;
    border-radius: 4px;
}
#have-in-cart {margin-left: 53px;}
a.add-to-cart {
    display: inline; 
    float: none; 
    background: none; 
    width: auto; 
    height: auto;
} 
.b-item_in-basket{
    border-radius: 4px;
    border: 1px solid #eb661b;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    padding: 6px 20px 7px;
    margin-left: 44px;
}

.basketed .b-item_in-basket{
    display: none !important;
}
.basket_button_wrapper{
    min-height: 27px;
}
.b-item-price {
    margin-top: 13px;
    padding-bottom: 13px;
}
.b-item-caption {
    margin-top: 15px;
    min-height: 51px;
}
.basketed #have-in-cart{
    display: block !important;
}
.b-item_in-basket:hover{
    background-color: #eb661b;
    color: white;
}
.b-cat-items li {
    min-height: 343px;
}
div.main{
    min-height:1000px;
}
.deal_with_filters{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	position: relative;
}

.similiar_prods ul{
	overflow: hidden;
}

.toggle_filters{
	position: absolute;
	width: 30px;
	height: 30px;
	top: -20px;
	right: 0;
	/*background-color: red;*/
	background-image: url(../images/filter_icon.png);
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	display: none;
}

a{
	color: #0e468b;
}

.filters-enabled .toggle_filters{
	display: block;
}

.filters-enabled .products__item{
	/*margin-right: 30px;*/
}

.products__item{
	padding: 0 15px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.main_page__products .products__item{
	padding: 0;
	border: 0;
}

.products__item.first_column{
	padding-left: 0;
}

.products__item.last_column{
	padding-right: 0;
	border: none;
	margin-right: 30px;
}

.filters_opened .filters{
	display: block;
}

.filters-enabled .products{
	/*justify-content: space-between;*/
	justify-content: flex-start;
}

.filters-enabled .close_filters{
	display: none;
}


/*////popup////*/
.img_pop_up{
	position: fixed;
	width: 80%;
	height: auto;
	left: 10%;
	/*top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);*/
	top: 10%;
	bottom: 10%;
	display: none;
	background-color: rgba(255,255,255,.9);
	border-radius: 40px;
	z-index: 10;
	text-align: center;
}

.img_pop_up img{
	display: inline-block;
	height: 100%;
}

.img_pop_up__close .dark__cross{
	background-color: red;
}

.img_pop_up.active{
	display: block;
}

.img_pop_up__close{
	position: absolute;
	top: 20px;
	right: 20px;
	width: 40px;
	height: 40px;
}

.img_pop_up__close:hover .dark__cross_1{
	-webkit-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}

.img_pop_up__close:hover .dark__cross_2{
	-webkit-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
}

.about__tittle{
	display: inline-block;
	background-color: #fafafa;
	position: relative;
	z-index: 2;
	padding: 0 5px;
}

.path_cont>*{
	color: #9e9e9e;
}

.path_cont a{
	text-decoration: underline;
}

.footer__left p:first-child{
	padding-bottom: 16px;
}

.examples_wr{
	margin-left: -3%;
	width: 106%;
	float: left;
}

.examples_wr .owl-item{
	float: left;
}

.examples_wr .disabled{
	display: none;
}

/*.examples_wr .owl-item{
	width: 1600px !important;
}*/

.examples_wr .owl-item img{
	width: 100%;
}

.burgerbutton-open{
	display: none;
}

.overflow{
	overflow: hidden;
	position: relative;
	height: 100%;
	overflow: hidden;
	width: 100%;
	position: fixed;
}

.footer__right li{
	display: inline-block;
	font-size: 20px;
	padding: 16px 10px;
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
}

.footer__right li:hover{
	opacity: .5;
}

/*////radio/////*/
.container {
    display: inline-block;
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 12px;
    margin-right: 4px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
    line-height: 24px;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 100%;
    /*background-color: #f8f8f8;*/
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(252,255,255,1)), color-stop(41%, rgba(252,255,255,1)), color-stop(100%, rgba(199,199,199,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(89deg, rgba(199,199,199,1) 0%, rgba(252,255,255,1) 59%, rgba(252,255,255,1) 100%); 
    vertical-align: middle;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #d3d3d3;
    font-size: 14px;
    line-height: 26px;
/*    -webkit-transition: background .4s ease;
    -o-transition: background .4s ease;
    transition: background .4s ease;*/
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(191,183,138,1)), color-stop(15%, rgba(254,242,184,1)), color-stop(36%, rgba(254,242,184,1)), color-stop(66%, rgba(254,242,184,1)));
background: -webkit-linear-gradient(90deg, rgba(254,242,184,1) 34%, rgba(254,242,184,1) 64%, rgba(254,242,184,1) 85%, rgba(191,183,138,1) 100%);
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(191,183,138,1)), color-stop(15%, rgba(254,242,184,1)), color-stop(36%, rgba(254,242,184,1)), color-stop(66%, rgba(254,242,184,1)));
background: -webkit-linear-gradient(90deg, rgba(254,242,184,1) 34%, rgba(254,242,184,1) 64%, rgba(254,242,184,1) 85%, rgba(191,183,138,1) 100%);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

.category__name h6{
	display: inline-block;
}

.basketEmpty>*{
	display: none;
}

.empty_basket_block{
	line-height: 26px;
	display: none;
	padding: 50px 0 30px;
	font-size: 20px;
}

.basketEmpty .empty_basket_block{
	display: block;
}

.empty_basket_block h2{
	font-size: 44px;
    padding-bottom: 50px;
    line-height: 54px;
}

.basket_head .basket,
.basket_head .head__nav,
.navigation__item_basket{
	display: none;
}

.bascket__table .basket_page__img{
	padding-left: 20px;
	padding-top: 0;
	vertical-align: top;
	padding-top: 20px;
}
.basket_page__product{
	padding-top: 15px;
	padding-bottom: 15px;
}
.bascket__table .basket_page__product{
	vertical-align: top;
}

.form__item.submit .checkout:hover{
	cursor: pointer;
	opacity: .7;
}

.success_page{
	padding-bottom: 20px;
}

@media screen and (max-width: 1129px) {
	.basket_page__form .basket_page__desc{
		display: block;
	}
	.navigation__item{
		padding: 10px 20px;
	}
	.bascket__table .basket_page__img{
		padding-left: 0;
	}
	.navigation__list {
	    text-align-last: auto;
	}
	section, header, .footer{
		padding: 0 5%;
	}
	.footer{
		padding-bottom: 50px;
	}
	.products__item{
		/*margin: 10px;*/
	}
	.basket_page__prod_wr,
	.basket_page__head{
		width: 100%;
	}
	.basket_page__desc{
		display: none;
	}
	.basket_page__form{
		margin-left: 20%;
		width: 60%;
		height: 300px;
	}
	.form_for_order{
		border-top: 2px #808080 solid;
	}
	.basket_page__desc{
		padding: 20px 0;
	}
	.basket_page__item_remove{
		display: inline-block;
	}
	.map{
		height: 300px;
	}
	.contacts_page p{
		line-height: 18px;
	}
	.about__desc, .about__video{
		/*width: 80%;
		margin-left: 10%;*/
		box-sizing: border-box;
    	padding: 5%;
    	margin: 0;
	}
	.about__video{
		padding: 50px 5%;
	}
	.products__item{
		width: 170px;
	}
	.bascket__table{
		width: 100%;
	}
	.list_of_cats__item .cat_link{
		font-size: 18px;
	}
}

@media screen and (max-width: 1023px) {
	.basket_page__product{
		line-height: 22px;
	}
	.basket_page__form{
		width: 100%;
		margin-left: 0;
		padding: 0 4%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.basket_head .head__nav,
	.navigation__item_basket{
		display: block;
	}
	.basket_head .navigation__item_basket{
		display: none;
	}
/*	.char__name, .add_char__name{
		display: inline;
	}*/
	.empty_basket_block{
		padding: 100px 8%;
		line-height: 36px;
	}
	table{
		text-align: left;
		margin: 0 auto;
	}
	.page__products_wr.filters-enabled{
		position: relative;
	}
	.additional_nav.owl-loaded{
		overflow: hidden;
		width: 96%;
		padding-left: 1%;
	}
	.additional_nav.owl-loaded .owl-item{
		float: left;
		touch-action: none;
	}
	.additional_nav.owl-loaded .owl-item:last-child li{
		padding-right: 20px;
	}
	.additional_nav .owl-nav.disabled{
		display: none;
	}
	.bascket__table{
		width: 100%;
		float: none;
		padding: 0 4%;
	}
	.bascket__table td{
		max-width: initial;
	}
	.basket_page__number input{
		height: 40px;
		font-size: 24px;
	}
	.filters > form{
		line-height: 28px;
	}
	.product_page__header{
		display: none;
	}
	.product_page__mob_header.product_page__desc{
		display: block;
	}
	.char__name, .add_char__name, .add_char__value{
		max-width: 300px;
		line-height: 30px;
	}
	.container,
	.checkmark{
		line-height: 28px;
		font-size: 24px;
	}
	.prod_lane{
		display: none;
	}
	.page__products_wr__head{
		text-align: center;
		padding-bottom: 50px;
	}
	.similiar_prods span{
		line-height: 26px;
	}
	.about__desc li{
		line-height: 34px;
		padding: 5px 0;
	}
	.avail_chars li:last-child{
		padding-bottom: 20px;
	}
	.toggle_filters{
		right: 1%;
	    width: 30px;
	    top: -31px;
		height: 30px;
		background-color: #fafafa;
    	border: #fafafa 5px solid;
	}
	.filters{
		background-color: #fafafa;
	}
	.additional_nav li:first-child{
		margin-left: 1%;
	}
	.footer__right li{
		font-size: 38px;
	}
	/*.additional_nav{
		display: none;
	}*/
	.additional_nav li{
		border: none;
		color: #000;
	}
	.filters{
		display: block;
		position: fixed;
		right: 0;
		top: 110px;
		margin: 0;
		bottom: 0;
		-webkit-transform: translateX(100%);
		-ms-transform: translateX(100%);
		-o-transform: translateX(100%);
		transform: translateX(100%) ;
		-webkit-transition: all 1s;
		-o-transition: all 1s;
		transition: all 1s;
		padding: 20px 30px 0 50px;
	    width: 190px;
	    height: auto;
	    overflow-y: scroll;
	    width: 90%;
	}
	.filters form{
		margin: 0 auto;
	}
	.filters_opened .filters{
		-webkit-transform: translateX(10%) !important;
		-ms-transform: translateX(10%) !important;
		-o-transform: translateX(10%) !important;
		transform: translateX(10%) !important;
	}
	.filters_opened .close_filters{
		display: block;
		position: absolute;
	   	right: 20%;
    	top: 20px;	
		width: 20px;
		height: 20px;
		padding: 20px;
		box-sizing: border-box;
		/*background-color: red;*/
		background-image: url(../images/filter_icon.png);
	}
	.basket_page__prod_wr, .basket_page__head {
    	padding: 0 5%;
    	-webkit-box-sizing: border-box;
    	-moz-box-sizing: border-box;
    	box-sizing: border-box;
	}
	/*.basket_page__product{
		width: 26%;
	}*/
	/*.basket_page__price, .basket_page__number, .basket_page__full_price{
		width: 13%;
	}*/
	/*.basket_page__item_remove{
		margin-left: 4%;
	}*/
	.basket_page__img{
		padding: 20px 0;
	}

	/*main page*/
	.main_page__products .prod__img{
		border-radius: 0;
		max-width: 100%;
		width: 100%;
	}
	.prod__price{
		position: inherit;
		transform: none;
		left: 0;
	}
	.list_of_cats__item{
		width: 100%;
	}
	.main_page__products .products__item{
		width: 100%;
		padding: 0;
		margin: 0;
		padding-bottom: 10px;
		border: none;
	}
	section, header, .footer{
		padding: 0;
	}
	footer{
		padding: 0 8%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		position: static;
		line-height: 46px;
    	font-size: 32px;
    	text-align: center;
	}
	.footer__right,
	.footer__left{
		float: none;
		padding: 0 0 40px;
	}
	.footer__links{
		padding: 30px 0;
	}
	.footer__center{
		padding-bottom: 0;
	}
	.footer__center p{
		padding-bottom: 50px;
	}
	.main_page__more{
		padding: 50px 8%;
	}
	.dark_phone{
		display: none;
		position: fixed;
		top: 0;
		width: 100%;
		bottom: 0;
		background-color: rgba(0,0,0,.4);
	}
	.open .dark_phone,
	.filters_opened .dark_phone{
		display: block;
	}
	.footer__links li {
	    display: block;
	    padding: 10px 8%;
	}
	.main_page__products .category__number{
		display: none;
	}
	.main_page__products .category__name{
		padding-left: 8%;
		padding-right: 8%;
		display: block;
		font-size: 52px;
		line-height: 58px;
	}
	.products{
		padding-top: 50px;
	}
	.about_us__info{
		width: 100%;
		margin: 0;
		padding: 50px 8%;
		box-sizing: border-box;
		line-height: 46px;
		font-size: 32px;
	}
	.about_us{
		padding-bottom: 100px;
	}

	/*////common////*/

	.logo{
		position: absolute;
	    top: 50%;
	    transform: translateY(-50%);
	    left: 18%;
	}
	.burgerbutton{
		right: auto;
		left: 8%;
	}
	/*.burgerbutton.active{
		opacity: 0;
	}*/
	.open .burgerbutton-open{
		display: block;
		position: absolute;
	    right: 20px;
	    left: auto;
	    top: 20px;
	    -webkit-transform: none;
	    -ms-transform: none;
	    -o-transform: none;
	    transform: none;
	}
	.open .burgerbutton span{
		background-color: #000;
	}
	.head__cont{
		display: none;
	}
	.navigation__item{
		display: block;
		padding: 16px 20px 16px 12%;
	    font-size: 34px;
	    line-height: 50px;
	}
	.navigation__item a{
		color: #000;
		-webkit-transition: color .5 ease;
		-o-transition: color .5 ease;
		transition: color .5 ease;
	}
	.navigation__item a:hover{
		color: #cd6526;
	}
	.navigation__list{
		padding-top: 120px;
		position: fixed;
		z-index: 2;
		width: 90%;
		height: 100%;
		top: 0;
		background-color: #fff;
		text-align: initial;
		-webkit-transform: translateX(-110%);
		-ms-transform: translateX(-110%);
		-o-transform: translateX(-110%);
		transform: translateX(-110%);
		-webkit-transition: transform 1s ease;
		-o-transition: transform 1s ease;
		transition: transform 1s ease;
	}
	.open .navigation__list{
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
		overflow-y: scroll;
	}
	.head{
		padding: 0;
		position: fixed;
	    width: 100%;
	    top: 0;
	    z-index: 100;
	}
	body{
		padding-top: 110px;
	}
	.head__mob{
		display: block;
		background-color: #37393d;
		height: 110px;
	}
	.about__head{
		font-size: 40px;
	}
	.prod__name,
	.prod__price{
		padding: 25px 8% 0;
		font-size: 36px;
		line-height: 42px;
	}
	.prod__price{
		padding-bottom: 25px;
	}
	.prod__img{
		width: 100%;
		max-width: 100%;
		border-radius: 0;
	}
	.page__products_wr .products__item{
		width: 50%;
		margin: 0;
		padding: 0 1%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.payment,
	.delievery_page,
	.contacts_page{
		padding: 0 5%;
	}
	.delievery_page{
		padding-bottom: 20px;
	}
	.checkbox{
		padding: 5px 0;
	}
	.filters input[type="checkbox"]+span::before{
	    height: 18px;
	    width: 18px;
	    margin: 6px -10px 0 0px;
	}
	.filters_color span.before {
	    height: 18px;
	    width: 18px;
	    margin: 6px -10px 0 -8px;
	}
	.maps__cont{
		width: 100%;
	}
	.map{
		max-width: 100%;
	}
	.maps__cont{
		padding-bottom: 40px;
	}
	.maps__text{
		min-height: 100px;
		padding-bottom: 40px;
	}
	.product_page__img{
		width: 60%;
    	margin: 0 20%;
    	padding-bottom: 50px;
	}
	.product_page__desc{
		float: none;
		margin-left: auto;
		text-align: center;
	}
	.add_char__name{
		text-align: left;
	}
	.about__desc, .about__video{
		width: 100%;
	}
	.about__desc{
		padding: 0 8%;
		margin: 0 auto;
		float: none;
		/*max-width: 650px;*/
    	box-sizing: border-box;
	}
	.product_page__about{
		padding-top: 0;
		padding-bottom: 0;
		border-bottom: none;
	}
	.add_chars{
		padding-bottom: 0;
	}
	.about__video{
		padding: 0 8%;
		margin: 50px auto;
		float: none;
		margin-bottom: 0;
		/*max-width: 650px;*/
		/*margin: 50px auto;*/
	}
	.about__desc h2:first-child{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.about__desc-title, .examples__cap{
		padding-bottom: 50px;
		padding-top: 50px;
	}
	.similiar_prods li{
		width: 100%;
		margin-top: 60px;
	}
	.sim__prod img{
		max-height: 340px;
	}
	.sim__desc{
		min-height: 0px;
		padding-bottom: 10px;
	}
	.examples__cap{
		margin-left: 8%;
		margin-right: 8%;
	}
	table{
		padding: 0 8%;
		margin-bottom: 50px;
	}
	.add_to_basket{
		margin-bottom: 50px;
	}
	.product_page{
		padding-left: 0;
		padding-right: 0;
	}
	.similiar_prods{
		padding: 0 8%;
	}
	/*///dark///*/
	.dark__img{
		width: 80%;
		margin-left: 10%;
	}
	.list_of_cats__item .cat_link{
		font-size: 34px;
	}
	.dark_off{
		top: 140px;
		right: 5%;
		width: 30px;
		height: 30px;
	}
	.dark__content{
		width: 90%;
		margin-left: 5%;
	}
	.dark__title{
		padding-top: 0;
		padding-bottom: 60px;
	}
	.dark__desc{
		padding-bottom: 60px;
	}
	.dark__video{
		height: 200px;
	}
	.main_page__products {
	    margin-top: 50px;
	}
	html{
		font-size: 24px;
	}
	.add_chars li{
		padding-bottom: 30px;
	}
	.char__param{
		padding: 6px;	
		-webkit-background-size: 50%;
		background-size: 50%;
	}
	.char__param:hover{
		-webkit-background-size: 15%;
		background-size: 15%;
	}
	.product_page__desc h1,
	.path_cont,
	.add_chars h6{
		text-align: left;
		padding-left: 8%;
		padding-right: 8%;
	}
	.add_chars h6{
		text-align: center;
	}
	.dark{
		padding-top: 110px;
	}
	.filters > form{
		width: 50%;
	}
	footer a{
		text-decoration: underline;
	}
	.about__desc .desc_wr:first-child h2{
		padding-top: 50px;
	}
	.basket_page__item:hover{
		background-color: inherit;
	}
	.main_page__products{
		position: relative;
	}
	.main_page__products:nth-child(3):before{
		content: '';
		position: absolute;
		top: -40px;
		left: 0;
		height: 1px;
		right: 0;
		background-color: black;
	}
	.about__desc ul{
		height: 0;
		opacity: 0;
		-webkit-transition: max-height ease 1s;
		-o-transition: max-height ease 1s;
		transition: max-height ease 1s;
		max-height: 0;
	}
	.desc_wr{
		overflow: hidden;
	}
	.about__desc-title, .examples__cap{
		text-align: center;
		font-size: 36px;
	}
	.desc_wr.opened ul{
		max-height: 1000px;
		height: auto;
		opacity: 1;
		padding-bottom: 50px;
	}
	.desc_wr.opened .about__desc-title:after,
	.opened.examples__cap:after{
		transform: translateY(-50%);
	}
	.desc_wr:nth-child(2),
	.examples__cap{
		border-top: 1px dashed black;
	}
	.examples__cap{
    	border-bottom: 1px dashed black;;
	}
	.examples__cap.opened{
		border-bottom: none;
	}
	.examples_wr{
		height: 0;
		opacity: 0;
		max-height: 0;
		overflow: hidden;
		transition: all 1s ease;
	}
	.opened.examples_wr{
		height: auto;
		opacity: 1;
		max-height: 1000px;
	}
	.about__desc-title{
		position: relative;
		padding-bottom: 0;
		/*margin-bottom: 25px;*/
		text-align: left;
	}
	.examples__cap{
		position: relative;
		padding-left: 0;
		padding-right: 0;
		margin-left: 8%;
		margin-right: 8%;
		text-align: left;
	}
	.about__desc-title:after,
	.examples__cap:after{
		content: '';
		position: absolute;
		right: 0;
		top: 50%;
		-webkit-transform: translateY(-50%) rotate(-90deg);
		-ms-transform: translateY(-50%) rotate(-90deg);
		-o-transform: translateY(-50%) rotate(-90deg);
		transform: translateY(-50%) rotate(-90deg);
		/*background-color: red;*/
		-webkit-transition: all 1s ease;
		-o-transition: all 1s ease;
		transition: all 1s ease;
		width: 20px;
		height: 20px;
		background-image: url(../images/ar.png);
		background-size: contain;
    	background-repeat: no-repeat;		
	}
	.product_page td{
		display: block;
		width: 100%;
	}
	.char__name,
	.add_char__name{
		font-weight: bold;
		/*padding-bottom: 14px;*/
		padding-top: 10px;
		max-width: none;
	}
	.char__name, .add_char__name, .add_char__value{
		line-height: 30px;
		padding-top: 10px;
	}
	td form{
		padding-top: 10px;
	}
	.form_for_order{
		border: none;
	}
	.form__item{
		margin-left: 0;
		width: 100%;
	}
	label.type-person-left{
		margin-left: 0;
	}
	label.required{
		width: 50%;
	}
	.form__item.submit{
		width: 100%;
		margin-left: 0;
	}
	.form__item.submit button{
		height: 60px;
		font-size: 100%;
	}
}

@media screen and (max-width: 960px) {
	.basket_page__number input{
		font-size: 22px;
	}
	.container,
	.checkmark{
		line-height: 24px;
		font-size: 22px;
	}
	.footer__right li{
		font-size: 36px;
	}
	footer{
    	font-size: 28px;
	}
	.main_page__products .category__name{
		font-size: 48px;
		line-height: 54px;
	}
	.about_us__info{
		font-size: 28px;
	}
	.navigation__item{
	    font-size: 36px;
	}
	.prod__name,
	.prod__price{
		font-size: 38px;
		line-height: 44px;
	}
	html{
		font-size: 22px;
	}
}

@media screen and (max-width: 767px) {
/*@media screen and (max-width: 560px) {*/
	.head__mob{
		height: 70px;
	}
	.product_page table{
		margin-left: 0;
	}
	.footer__center p {
	    padding-bottom: 40px;
	}
	.checkbox {
	    line-height: 1.7;
	}
	.about__head{
		margin-bottom: 40px;
	}
	.dark_off{
		top: 90px;
	}
	.filters > form{
		width: 70%;
	}
	.basket_page__full_price,
	.basket_page__price{
		font-weight: bold;
	}
	.bascket__table .basket_page__product{
		max-width: 54%;
		/*text-align: center;*/
		padding-top: 16px;
	}
	.basket_page__product a{
		width: 85%;
		margin: 0 auto;
		display: block;
	}
	.basket_page__item td:last-child{
		clear: both;
		position: absolute;
		right: 0;
	}
	.bascket__table .basket_page__img{
		max-width: 40%;
	}
	.bascket__table td{
		float: left;
	}
	.about__desc .desc_wr:first-child h2{
		margin-top: 20px;
	}
	.product_page__about{
		border-bottom: none;
		padding-bottom: 0;
	}
	.footer__left, .footer__right{
		padding-bottom: 25px;
	}
	.footer__links li{
		padding: 8px 8%;
	}
	.footer__links{
		padding: 0 0 25px 0;
	}
	.list_of_cats__item{
		padding: 10px 0;
	}
	.filters{
		top: 70px;
		width: 78%;
	}
	.filters_opened .close_filters{
		padding: 14px;
	}
	.filters > form{
		line-height: 22px;
	}
	.about__desc h2:first-child{
		margin-top: 15px;
		margin-bottom: 15px;
		padding-bottom: 0;
		padding-top: 0;
		text-align: left;
	}
	.about__video{
		margin-bottom: 15px;
	}
	.add_chars h6{
		padding-bottom: 0;
		font-size: 22px;
		line-height: 30px;
		text-align: left;
	}
	.avail_chars{
		margin-bottom: 25px;
		margin-top: 25px;
	}
	.product_page__img{
		padding-bottom: 0;
	}
	.about__desc ul{
		height: 0;
		opacity: 0;
		-webkit-transition: max-height ease 1s;
		-o-transition: max-height ease 1s;
		transition: max-height ease 1s;
		max-height: 0;
	}
	.about__desc .desc_wr:first-child h2{
		padding-top: 0;
	}
	/*.about__desc-title{
		position: relative;
		padding-bottom: 0;
		margin-bottom: 25px;
	}
	.examples__cap{
		position: relative;
		padding-left: 0;
		padding-right: 0;
		margin-left: 8%;
		margin-right: 8%;
	}
	.about__desc-title:after,
	.examples__cap:after{
		content: '';
		position: absolute;
		right: 0;
		top: 50%;
		-webkit-transform: translateY(-50%) rotate(-90deg);
		-ms-transform: translateY(-50%) rotate(-90deg);
		-o-transform: translateY(-50%) rotate(-90deg);
		transform: translateY(-50%) rotate(-90deg);
		-webkit-transition: all 1s ease;
		-o-transition: all 1s ease;
		transition: all 1s ease;
		width: 20px;
		height: 20px;
		background-image: url(../images/ar.png);
		background-size: contain;
    	background-repeat: no-repeat;		
	}*/
	.desc_wr{
		overflow: hidden;
	}
	.about__desc-title, .examples__cap{
		text-align: center;
		font-size: 36px;
	}
	.desc_wr.opened ul{
		max-height: 1000px;
		height: auto;
		opacity: 1;
	}
	.desc_wr.opened .about__desc-title:after,
	.opened.examples__cap:after{
		transform: translateY(-50%);
	}
	td{
		display: block;
		width: 100%;
	}
	.char__name,
	.add_char__name{
		font-weight: bold;
		/*padding-bottom: 14px;*/
		padding-top: 5px;
	}
	.char__name, .add_char__name, .add_char__value{
		line-height: 24px;
	}
	.add_to_basket{
		margin-left: 8%;
	}
	.product_page__desc{
		text-align: left;
	}
	.price_big{
		text-align: left;
		margin-left: 8%;
	}
	.footer__right li{
		font-size: 22px;
	}
	.head__mob img{
		width: 100%;
	}
	.head__mob .logo{
		width: 26%;
		left: 52px;
	}
	.burgerbutton{
		width: 20px;
		height: 16px;
	}
	.open .burgerbutton{
		height: 24px;
	}
	.list_of_cats{
		padding-bottom: 0;
	}
	.main_page__more{
		padding: 25px 16px;
	}
	body{
		padding-top: 70px;
	}
	.main_page__products{
		border-top: solid 1px black;
    	margin-top: 0;
    	padding-top: 20px;	
	}
	.main_page__products:before{
		display: none;
	}
	.products{
		padding-top: 20px;
	}
	.prod__name, .prod__price,
	.about__head{
		padding: 5px 8%;
		padding-bottom: 5px;
	}
	.list_of_cats__item .cat_link{
		font-size: 22px;
	}
	.about_us__info{
		padding: 25px 16px;
		font-size: 22px;
		line-height: 36px;
	}
	.about_us__info p{
		padding-bottom: 20px;
	}
	.about_us{
		padding-bottom: 50px;
	}
	footer{
		line-height: 30px;
    	font-size: 22px;
    	padding: 25px 16px;
	}
	.main_page__products .category__name{
		padding-left: 16px;
		padding-right: 16px;
	}
	.prod__name,
	.prod__price{
		font-size: 22px;
		padding-left: 16px;
		padding-right: 16px;
		line-height: 28px;
	}
	.burgerbutton span{
		height: 2px;
	}
	.navigation__item{
		font-size: 22px;
		line-height: 30px;
		padding: 12px 16px 12px 16px;
	}
	.burgerbutton{
		left: 16px;
	}
	.navigation__list{
		padding-top: 50px;
	}
	.about__desc li {
	    line-height: 30px;
   		padding: 0;
	}
	.main_page__products .category__name{
		font-size: 28px;
		line-height: 34px;
	}
	html{
		font-size: 18px;
	}
	.basket_page__img img{
		max-width: 100%;
		width: 100%;
		/*margin-left: 5%;*/
	}
	.basket_page__img{
		width: 40%;
	}
	.basket_page__product{
		padding: 0;
		box-sizing: border-box;
	}
	.basket_page__price{
		clear: both;
	}
	.basket_page__price, .basket_page__number, .basket_page__full_price,
	.basket_page__symbol{
		padding: 20px 0;
	}
	.basket_page__price, .basket_page__number, .basket_page__full_price{
		width: 32%;
	}
	.basket_page__number{
		width: 10%;
	}
	.basket_page__head{
		display: none;
	}
	.basket_page__item{
		position: relative;
	}
	.basket_page__item_remove {
	    position: absolute;
	    margin-top: 0;
	    top: 16px;
	    right: 10px;
	}
	.basket_page__number{
		padding: 8px 0 0;
	}
	.empty_basket_block h2{
		font-size: 30px;
		line-height: 40px;
		padding-bottom: 20px;
	}
	.empty_basket_block{
		line-height: 24px;
    	font-size: 18px;
	}
	.basket_page__product>*{
		width: 85%;
		margin: 0 auto;
	}
	.basket_page__symbol{
		width: 8%;
		text-align: center;
	}
	.basket_page__form{
		margin-left: 0;
		width: 100%;
	}
	.textBox{
		width: 80% !important;
	}
	.add_chars li{
		padding-bottom: 20px;
	}
	.add_chars span{
		display: block;
		text-align: center;
		padding-bottom: 6px;
	}
	.about__video{
		height: 240px;

	}
	.about__desc li{
		list-style-position: inside;
		margin-left: 0;
	}
	.desc_wr.opened ul{
		padding-bottom: 20px;
	}
	.product_page__desc h1,
	.about__desc-title,
	.similiar_prods__title{
		font-size: 22px;
    	line-height: 40px;
	}
	.desc_wr:nth-child(2),
	.examples__cap{
		border-top: 1px dashed black;
	}
	.examples__cap{
		padding-top: 15px;
   	 	padding-bottom: 15px;
    	line-height: 40px;
    	text-align: left;
    	border-bottom: 1px dashed black;;
	}
	/*.examples__cap.opened{
		border: none;
	}
	.examples_wr{
		height: 0;
		opacity: 0;
		max-height: 0;
		overflow: hidden;
		transition: all 1s ease;
	}
	.opened.examples_wr{
		height: auto;
		opacity: 1;
		max-height: 1000px;
	}*/
	.ultraviolet{
		margin-left: 8%;
	}
/*}


@media screen and (max-width: 440px) {*/
	.footer__left,
	.footer__right{
		float: none;
		text-align: center;
		padding-bottom: 24px;
	}
	/*.bascket__table .basket_page__product,
	.bascket__table .basket_page__img{
		width: 100%;
		max-width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}*/
	.basket_page__item_remove{
		width: 20px;
		height: 20px;
		padding: 10px;
	}
	.basket_page__item_remove img{
		width: 100%;
	}
	.product_page__desc h1, .about__desc-title, .similiar_prods__title, .examples__cap{
		font-size: 22px;
	}
	.prod__name, .prod__price{
		font-size: 18px;
	}
	.main_page__products .category__name,
	.about_us__cap {
	    font-size: 24px;
	    line-height: 28px;
	}
	.about_us__info {
	    font-size: 18px;
	    line-height: 30px;
	}
	footer {
	    line-height: 24px;
	    font-size: 18px;
	}
	.about__head{
		font-size: 22px;
	}
	.list_of_cats__item .cat_link {
	    font-size: 18px;
	}
	sub{
		font-size: 12px;
	}
	.page__products_wr .products__item{
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.navigation__item{
		font-size: 20px;
		line-height: 24px;
    	padding: 10px 16px 10px 16px;
	}
}

@media screen and (max-width: 340px) {
	.bascket__table .basket_page__img{
		width: 36%;
	}
	label.required{
		padding: 20px 5px;
	}
	.basket_page__item_remove{
		top: 12px;
	}
}


@media screen and (min-width: 1440px) {
	html,
	.head{
		font-size: 18px;
		line-height: 28px;
	}
	.footer{
		margin-top: -60px;
	}
	.char__name, .add_char__name,
	.add_char__value{
		line-height: 24px;
		max-width: 300px;
	}
	.basket_page__desc{
		line-height: 18px;
	}
	.head{
		padding-top: 40px;
	}
	.dark__desc{
		font-size: 20px;
	}
	.about__desc li{
		line-height: 28px;
		font-size: 18px;
	}
	.basket:before{
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	.product_page{
		padding-left: 2%;
		padding-right: 2%;
	}
	.similiar_prods span{
		line-height: 22px;
	}
	.checkbox{
		line-height: 22px;
	}
	.form__item>*{
		min-height: 40px;
		font-size: 18px;
	}
	.payment, .delievery_page, .contacts_page{
		font-size: 18px;
		line-height: 28px;
	}
	.map{
		max-width: 600px;
		height: 500px;
	}
	.maps__cont h4{
		font-size: 24px;
		line-height: 36px;
	}
	.payment h1, .delievery_page h1, .contacts_page h1{
		font-size: 32px;
	}
	.payment__ways p, .delievery_page p{
		line-height: 24px;
	}
	.products__item{
		width: 270px;
		min-height: 400px;
	}
	.payment__warning{
		font-size: 18px;
	}
	.prod_lane{
		height: 400px;
	}
}


/*/////////////////*/
/*.ono{
	background-image: url(../in/1.png);
	-webkit-background-size: cover;
	background-size: 1130px;
	background-position: center 0;
	opacity: .5;
}*/


